---
const { todo } = Astro.props
---

<div class="todo-container">
  <span class="streak">
    {todo.streak}
  </span>
  <form method="POST">
    <input type="hidden" name="formType" value="updateTodo" />
    <input type="hidden" name="todoId" value={todo.id} />
    <input type="hidden" name="streakValue" value={todo.streak} />
    <input type="hidden" name="_method" value="PUT" />
    <div class="todo-item">
      <label>
        <input
          type="checkbox"
          name="checked"
          checked={todo.checked}
          onchange="this.form.submit()"
        />
        {todo.name}
      </label>
    </div>
  </form>
  <form method="POST">
    <input type="hidden" name="formType" value="deleteTodo" />
    <input type="hidden" name="todoId" value={todo.id} />
    <input type="hidden" name="_method" value="DELETE" />
    <button type="submit"> Delete </button>
  </form>
</div>

<style>
  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-bg);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid var(--color-border);
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: inline-grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-text);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  label {
    display: flex;
    gap: 1rem;
    align-items: baseline;
  }
  button {
    font-family: inherit;
    background-color: var(--color-bg);
    color: var(--color-bg);
    border: 2px solid var(--color-border);
    color: var(--color-text);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  button:hover {
    background-color: var(--color-link);
  }
  .todo-item {
    min-width: 20ch;
  }
  .todo-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .todo-container:hover {
    background-color: var(--color-bg-light);
  }

  .streak {
    font-weight: 600;
    font-style: italic;
    width: 64px;
  }
</style>
