---
const { todo, categoryName } = Astro.props
---

<form method="POST">
  <input type="hidden" name="formType" value="updateTodo" />
  <input type="hidden" name="todoId" value={todo.id} />
  <input type="hidden" name="streakValue" value={todo.streak} />
  <input type="hidden" name="_method" value="PUT" />
  <p>
    {categoryName} -
    <label>
      {todo.name}
      <input
        type="checkbox"
        name="checked"
        checked={todo.checked}
        onchange="this.form.submit()"
      />
    </label>
    streak: {todo.streak}
  </p>
</form>
